<div class="about">
  <h1>Sobre o site</h1>
  <p>
    Bem-vindo ao nosso site, um espaço dedicado a facilitar a extração de conteúdo e a transcrição de mídias de diferentes formatos. Aqui, oferecemos uma série de ferramentas inovadoras que permitem transformar vídeos, áudios e até imagens em textos úteis e acessíveis, com facilidade e eficiência.
  </p>
  <ul>
    <li>
      <span>Youtube Extrator:</span> Com essa ferramenta, você poderá extrair automaticamente o que é falado em vídeos do YouTube que possuem legendas disponíveis, além de ter a opção de traduzir o conteúdo para diversas línguas. Ideal para quem precisa de transcrições rápidas ou quer acessar informações em outros idiomas.
    </li>
    <li>
      <span>WEB Extrator:</span> Quer extrair o conteúdo textual de um site? Essa aplicação permite que você faça exatamente isso, com a possibilidade de exportar o conteúdo extraído para PDF ou TXT, tornando a leitura e a organização de informações ainda mais práticas.
    </li>
    <li>
      <span>Vídeo Extrator:</span> Se você tem um vídeo e deseja obter a transcrição do áudio, essa ferramenta está aqui para ajudar. Basta garantir que o áudio tenha boa qualidade, e você poderá obter rapidamente a transcrição do que é falado.
    </li>
    <li>
      <span>Áudio Extrator:</span> Para quem trabalha com áudios, essa ferramenta possibilita a extração da transcrição completa de arquivos de áudio, desde que estes possuam uma qualidade razoável. Uma solução perfeita para podcasts, entrevistas ou qualquer outro tipo de gravação.
    </li>
    <li>
      <span>Descritor de Imagens:</span> Com essa funcionalidade, qualquer imagem que você enviar será analisada, e uma descrição textual detalhada será gerada. Ideal para quem deseja ter uma compreensão mais profunda do conteúdo visual ou tornar suas imagens acessíveis.
    </li>
  </ul>
  <p> 
    Nosso objetivo é proporcionar a você uma experiência prática e eficiente para obter transcrições e descrições de diferentes mídias, otimizando seu tempo e oferecendo acesso facilitado à informação.
  </p>
</div>