.about{
  max-width: 1300px;
  min-height: 80vh;
  padding: 30px;
  text-align: justify;

  h1{
    margin-bottom: 30px;
  }

  p{
    font-size: 14pt;
    margin: 20px 0;
  }

  ul{
    li{
      list-style-type: none;
      font-size: 14pt;
      padding: 5px 0 5px 50px;

      span{
        font-weight: 600;
      }
    }
  }
}