<div class="about">
  <h1>Sobre o site</h1>
  <p>
    Olá! este é o Librarium, uma aplicação voltada para extrair conteúdo textual de diversas fontes em formato adequado para criação de bancos de dados de sistemas que usam Retrival-Augmented Generation (RAG). Atualmente temos disponível as seguintes funcionalidades:
  </p>
  <ul>
    <li>
      <span>Youtube Extrator:</span> Com essa ferramenta, você poderá extrair as legendas disponíveis no vídeo, podendo ainda traduzi-las para português, inglês ou espanhol.
    </li>
    <li>
      <span>WEB Extrator:</span> Esta funcionalidade permite que você extraia o conteúdo textual de uma página da web.
    </li>
    <li>
      <span>Vídeo Extrator:</span> Se você tem um vídeo e deseja obter a transcrição do áudio, essa ferramenta está aqui para ajudar. Basta garantir que o áudio tenha boa qualidade, e você poderá obter rapidamente a transcrição do que é falado.
    </li>
    <li>
      <span>Áudio Extrator:</span> Essa opção permite que qualquer áudio seja transcrito, desde que ele possua uma qualidade mínima aceitável.
    </li>
    <li>
      <span>Descritor de Imagens:</span> Com essa funcionalidade, qualquer imagem que você enviar será analisada, e uma descrição textual detalhada será gerada.
    </li>
  </ul>
  <p> 
    Nosso objetivo é proporcionar a você uma experiência prática e eficiente para obter transcrições e descrições de diferentes mídias, otimizando seu tempo e oferecendo acesso facilitado à informação.
  </p>
</div>