.nav-container{
  width: 100%;
  height: 10vh;
  background: linear-gradient(90deg, #0662b9, #116466);
  color: #fff;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 3px 7px rgba(8, 8, 8, 0.5);
  
  a{
    color: #fff;
    text-decoration: none;
  }

  .brand{
    font-size: 2.5rem;
    position: relative;
    transition: color 0.3s ease;
  }

  .brand::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #88e2e4;
    transition: width 0.3s ease;
  }
  
  .brand:hover {
    color: #88e2e4;
  }
  
  .brand:hover::after {
    width: 100%;
  }

  .txt-itens{
    font-size: 2rem;
    position: relative;
    transition: color 0.3s ease;
  }

  .txt-itens::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #88e2e4;
    transition: width 0.3s ease;
  }
  
  .txt-itens:hover {
    color: #88e2e4;
  }
  
  .txt-itens:hover::after {
    width: 100%; /* Expande o sublinhado */
  }

  ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;

    li{
      font-size: 1.5rem;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: center
    }
  }
}



/*
Cores para o Projeto
#D9B08C
#2C3531
#116466


*/