.nav-container{
  width: 100%;
  height: 15vh;
  background: #fff;
  color: #116466;
  padding: 10px 200px;
  display: flex;
  justify-content:left;
  align-items:center;
  box-shadow: 1px 1px 7px rgba(129, 104, 104, 0.2);
  
  a{
    color: #000000;
    text-decoration: none;
  }

  .brand{
    font-size: 2.5rem;
    position: relative;
    transition: color 0.3s ease;
    font-weight: 500;
  }

  .brand::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #4c4e4e;
    transition: width 0.3s ease;
  }
  
  .brand:hover {
    color: #4c4e4e;
  }
  
  .brand:hover::after {
    width: 100%;
  }

  .txt-itens{
    font-size: 1.2rem;
    position: relative;
    transition: color 0.3s ease;
  }

  .txt-itens::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #4c4e4e;
    transition: width 0.3s ease;
  }
  
  .txt-itens:hover {
    color: #4c4e4e;
  }
  
  .txt-itens:hover::after {
    width: 100%; /* Expande o sublinhado */
  }

  ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;

    li{
      font-size: 1.5rem;
      padding-left: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
    }
  }
}


@media only screen and (max-width: 1300px){

  .nav-container{
    justify-content: center;
    padding: 0 0;
  }
}

@media only screen and (max-width: 740px){

  .nav-container{
    justify-content: center;
    padding: 0 0;

    ul{
      display: none;
    }
  }


}