<div class="menu-container">
  <app-icons-card
    img_alt="Icone do Youtube"
    title="Extrator do Youtube"
    img_source='assets/youtube_icon.svg'
    link="/contatos"
  ></app-icons-card>

    <app-icons-card
    img_alt="Icone do PDF"
    title="Extrator de PDF"
    img_source='assets/pdf_icon.png'
    link="/contatos"
  ></app-icons-card>

  <app-icons-card
  img_alt="Icone da Internet"
  title="Extrator de Pagina Web"
  img_source='assets/web_icon.png'
  link="/contatos"
  ></app-icons-card>
</div>