<div class="menu-container">
  <app-opt-card
    image="/assets/youtube_color.png"
    image_alt="Logo do Youtube"
    title="Youtube Extrator"
    link="/extratores/youtube"
    description="Através dele você poderá fazer a extração do que é falado em qualquer vídeo com legenda disponível. Alem de poder traduzir para outras linguagens."
  ></app-opt-card>

  <app-opt-card
    image="/assets/internet.png"
    image_alt="Icone da internet"
    title="WEB Estrator"
    link="#"
    description="Através dessa aplicação você poderá fazer a extração do conteúdo de qualquer site. E ainda optar por exportar para PDF ou txt"
  ></app-opt-card>

  <app-opt-card
    image="/assets/video.png"
    image_alt="Imagem de Celular com video"
    title="Vídeo Extrator"
    link="#"
    description="Aqui você poderá fazer a extração do que é falado em qualquer vídeo. Desde que o áudio esteja com uma boa qualidade."
  ></app-opt-card>

  <app-opt-card
    image="/assets/audio.png"
    image_alt="Imagem de uma soundwave"
    title="Áudio Extrator"
    link="#"
    description="Com essa ferramente você poderá extrair a transcrição completa de áudios, desde que esteja com uma qualidade razoável."
  ></app-opt-card>

  <app-opt-card
    image="/assets/image.png"
    image_alt="Imagem de uma foto"
    title="Descritor de Imagens"
    link="#"
    description="Esta funcionalidade permitirá que você obtenha uma descrição textual de qualquer imagem submetida."
  ></app-opt-card>

  <app-opt-card
    image="/assets/pdf.png"
    image_alt="Icone de pdf"
    title="PDF Extrator"
    link="#"
    description="Aqui vc poderá extrair os textos de um aquivo pdf mesmo que o mesmo seja um PDF de fotocópia."
  ></app-opt-card>


</div>
