<div class="web-container">
  <form
    class="web-extractor"
    [formGroup]="web_form"
    (ngSubmit)="submitForm()"
    #formDir="ngForm"
  >
    <label for="url">URL do Site:</label>
    <input type="text" id="url" formControlName="url"/>

    <app-error-alert 
      message="Informe uma URL válida!"
      *ngIf="url.invalid && formDir.submitted" >
    </app-error-alert>

    <label for="format">Escolha o formato do arquivo* :</label>
    <select formControlName="format">
      <option value="default">
        Selecione um formato de arquivo para extração
      </option>
      <option value="txt">TXT</option>
      <option value="pdf">PDF</option>
    </select>
    <app-error-alert 
      message="Escolha um formato de saída para proseguir!"
      *ngIf="format.invalid && formDir.submitted" >
    </app-error-alert>
    <button type="submit">Extrair</button>
  </form>
</div>
